@import url('reset.css');
@import url('stickyFooter.css');

body{font-family:Varela Round, Arial;background:#C7CBCC url(../img/home/texture.jpg);}
a{text-decoration:none;}

.container{width:920px;margin:0 auto;}
.hidden{display:none;}
.clear{clear:both;}
.jscrollpane{overflow:auto;}


#header{width:100%;margin-bottom:10px;background:url(../img/home/img_fondo.jpg) center top #E9EEF4;color:white;box-shadow:0 -10px 20px rgba(0,0,0,0.45) inset;position:relative;overflow:hidden;}
#header h1{text-align:center;font-size:41px;line-height:77px;}
#header h2{text-align:center;font-size:13px;line-height:27px;}
#header h3{text-align:center;font-size:14px;line-height:25px;}
#header hr{display:block;border:none;height:2px;background:white;width:440px}
#header a{color:white;}
#header .menu{background-color:rgba(255,255,255,0.3);box-shadow:0 0 10px black;height:113px;}
#header .menu .container{position:relative;}
#header .menu a{display:block;float:left;text-align:center;color:white;text-shadow:1px 1px 2px #999;font-size:17px;padding:60px 12px 24px;background-position:center 31px;background-repeat:no-repeat;height:30px;}
#header .menu a[href='/blog']{background-image:url(../img/home/blog.png);}
#header .menu a[href='/comparador']{background-image:url(../img/home/comparador.png);}
#header .menu a[href='/reportes-ciudadanos']{background-image:url(../img/home/denuncia.png);}
#header .menu a[href='/datos-abiertos']{background-image:url(../img/home/datos.png);}
#header .menu a[href='/ayuda']{background-image:url(../img/home/ayuda.png);}
#header .menu a[href='/contacto']{background-image:url(../img/home/contacto.png);}
#header .menu.blog a[href='/blog']{background-color:rgba(0,0,0,.12)}
#header .menu.comparador a[href='/comparador']{background-color:rgba(0,0,0,.12)}
#header .menu.denuncia a[href='/denuncia']{background-color:rgba(0,0,0,.12)}
#header .menu.volunatior a[href='/voluntarios']{background-color:rgba(0,0,0,.12)}
#header .menu.webinars a[href='/webinars']{background-color:rgba(0,0,0,.12)}
#header .menu.contacto a[href='/contacto']{background-color:rgba(0,0,0,.12)}
#header .menu a:hover{background-color:rgba(0,0,0,.12);}
#header .menu a.logo{width:auto;margin:26px 7px 0 35px;padding:0;}
#header .menu a.logo:hover{background-color:transparent;}
#header .menu form{display:block;float:left;padding:59px 11px;}
#header .menu input{border:none;background-color:rgba(255,255,255,.4);padding:5px 11px 3px;color:white;text-shadow:1px 1px #999;font-size:17px;line-height:17px;font-family:Varela Round;width:110px;}
#header .menu input[placeholder]{color:white!important;}
#header .menu .social{position:absolute;right:-51px;top:62px;}
#header .menu .social a{float:left;display: block;width:23px;height:23px;background:url(../img/home/face.png);margin:0 2px;padding:0;background-position:-25px 0}
#header .menu .social a:hover{background-position:0 0}
#header .menu .social a.twitter{background-image:url(../img/home/twitter.png)}
#header .titles{margin:41px auto 18px;width:444px;}
#header .button-frame{display:block;background-color:rgba(255,255,255,0.3);color:white;border:1px solid white;font-size:15px;margin:0 auto;width:239px;border-radius:7px;}
#header .button{background:#0BA14A;margin:8px 9px;border-radius:7px;display:block;padding:0 30px;box-shadow:inset -1px -1px 2px #555,inset 1px 1px 2px #aaa;position: relative;font-size:17px;line-height:41px;text-align:center;}
#header .button:before{content:'';display:block;background-color:#24AB5F;height:1px;box-shadow:0 1px 2px #0BA14A;width:18px;top:20px;left:8px;position:absolute;}
#header .button:after{content:'';display:block;background-color:#24AB5F;height:1px;box-shadow:0 1px 2px #0BA14A;width:18px;top:20px;right:8px;position:absolute;}
#header .general-search{text-align:center;font-size:12px;margin:30px auto 20px;}
#header .general-search input[type='text']{font-size:14px;font-family:Varela Round;background-color:#F1E1E1;border-radius:3px;padding:9px 11px;line-height:29px;border:none;margin:9px auto;width:227px;color:#858482;height:29px;}
#header .general-search fieldset[name='busqueda-avanzada']{display:none;}

#header .general-search .button-frame{float:left;margin:18px 27px 0 260px;width:271px;height:64px;}
#header .general-search .adv-search{font-size:10px;display:block;float:left;width:98px;height:98px;border-radius:50%;border:1px solid white;background-color:rgba(255,255,255,.3);margin:3px 0 14px;}
#header .general-search .adv-search a{width:87px;height:40px;margin:5px;display:block;background-color:#00AFF0;box-shadow:inset -1px -1px 2px #333,inset 1px 1px 2px white;border-radius:50%;line-height:12px;padding-top:47px;font-size:12px;}


#content{color:#474747;padding:0 0 229px;}
#content .container{width:900px;margin:25px auto;}
#content a{color:#EC018E;}
#content p{line-height:16px;}
#content h1{color:white;font-size:22px}
#content h2{font-size:18px;line-height:24px;}
#content h3{color:white;font-size:14px;line-height:17px;}
#content h3 a{color:white;}
#content hr{background-color:rgba(179, 48, 126,.6);height:5px;border:none;margin-bottom:8px;background-image:url(../img/home/texture_pink.png);}

#content .column{float:left;width:595px;}
#content .column.right{width:290px;margin-left:15px;}

#content .column .column{float:left;width:290px;margin:11px 0;}
#content .column .column:nth-child(2){margin-left:15px;}
#content .cap{display:block;background-color:rgba(11, 161, 74,.6);padding:0px 27px;line-height:49px;background-image:url(../img/home/texture_green.png);height:49px;}
#content .cap img{margin:8px 4px 0 0;display:block;float:left;}
#content .cap.blue{background-color:rgba(49, 101, 159,.6);background-image:url(../img/home/texture_blue.png);}
#content .cap.voluntarios{padding:0 16px;margin-top:1px;}
#content .gray-box{background-color:rgba(0,0,0,.5);color:#959595;padding:15px 24px 22px;margin:0 0 15px;}
#content .gray-box h1{font-size:18px;line-height:33px;}
#content .gray-box h2{color:white;font-size:14px;line-height:19px;}
#content .gray-box p{line-height:15px;}
#content .white-box{background-color:rgba(255,255,255,.3);color:#636363;padding:14px 16px 15px;}
#content .white-box.column{width:258px;}
#content .white-box a{color:#373938;}
#content .white-box h2{color:#EFA54C;line-height:21px;}
#content .white-box hr{background:#EFA54C;height:3px;}
#content .white-box p{line-height:14px;}

#content .white-box.voluntarios{overflow:hidden;position:relative;height:97px;padding:0;}
#content .white-box.voluntarios .reel{width:1000px;position:absolute;}
#content .white-box.voluntarios .voluntario{float:left;font-size:11px;width:230px;}
#content .white-box.voluntarios .voluntario img{width:70px;height:70px;border:5px solid white;border-radius:50%;float:left;margin:9px 3px 0 0;}
#content .white-box.voluntarios .voluntario h2{color:#565857;font-size:14px;margin-top:19px;}
#content .white-box.voluntarios .voluntario p{line-height:10px;font-size:10px;}

#content .right .gray-box{padding:15px 21px 32px;margin:0 0 5px;}
#content .right .gray-box p{line-height:16px;text-align:justify;}

#content .column .banner{display:block;background-image:url(../img/home/texture_pink.png);text-align:center;color:white;font-size:25px;position:relative;margin:3px 0 6px;padding:23px 49px 22px 100px;line-height:28px;}
#content .column .banner img{position:absolute;top:24px;left:50px;}
#content .column .banner.orange{background-image:url(../img/home/texture_orange.png);}
#content .column .banner.green{background-image:url(../img/home/texture_green.png);}


#content a.gray-box{display:block;padding:0!important;line-height:51px;font-size:15px;color:white;height:51px;}
#content a.gray-box img{float:left;margin:0 11px 0 0;}
#content .twitcap{background:#43B6F5;padding:10px 16px 5px;}
#content .tweets{padding:1px 13px 13px!important;}
#content .tweets hr{height:2px;background:#767676;}
#content .tweets .tweet{color:white;margin:10px 0 6px;}
#content .tweets .tweet img{float:left;border-radius:50%;width:50px;height:50px;color:white;margin:0 5px 0 0;}
#content .tweets .tweet a{color:white;font-weight:bold;}
#content .tweets .tweet p{line-height:14px;}
#content .tweets .tweet .user{font-size:13px;}

#footer{background-image:url(../img/home/texture-footer.jpg);border-top:3px solid #5E5E5E;text-align:center;color:#898989;position:relative;}
#footer .img{margin:0 auto;width:228px;}
#footer .img a{display:block;float:left;margin:16px 9px 0;}
#footer .img a + a{margin:11px 6px 0;}
#footer a{color:#898989;font-size:13px;margin:0 17px;}
#footer .sole{background-color:#5C5C5C;font-size:10px;line-height:33px;position:absolute;bottom:0;width:100%;}
#footer .sole a{font-size:10px;margin:0;}



body .ui-menu .ui-menu-item a{line-height:14px;font-family:'Varela Round';padding:8px 11px;color:#6C6C6C;background-color:#f8f8f8;background-image:-moz-linear-gradient(top, #F8F8F8, #EAEAEA);background-image:-webkit-linear-gradient(top, #F8F8F8, #EAEAEA);border-radius:0;border:none;}
body .ui-menu .ui-menu-item a.ui-state-focus{border:none;background-color:#01a9e8;background-image:-moz-linear-gradient(top, #01A9E8, #009FD9);background-image:-webkit-linear-gradient(top, #01A9E8, #009FD9);color:white;border-radius:0;margin:0;}
body .ui-menu .ui-menu-item a span{line-height:12px;font-size:11px;display:block;}
body .ui-autocomplete{border-radius:0;background:none;border:none;padding:0;}

#header .home.container{position:relative}
#header .home.container .decorations hr{position:absolute;height:1px;}
#header .home.container .decorations img{position:absolute;}
#header .home.container .decorations div + hr{top:-17px;width:228px;}
#header .home.container .decorations div + hr + hr{top:-17px;width:434px;left:242px;}
#header .home.container .decorations div + hr + hr + hr{top:173px;width:236px;right:0px;}
#header .home.container .decorations div + hr + hr + hr + hr{top:173px;width:428px;left:241px;}
#header .home.container .decorations div + hr + hr + hr + hr + hr{top:239px;width:156px;left:0px;}
#header .home.container .decorations div + hr + hr + hr + hr + hr + hr{top:239px;left:177px;width:148px;}
#header .home.container .decorations div + hr + hr + hr + hr + hr + hr + hr{top:239px;width:146px;right:188px;}
#header .home.container .decorations div + hr + hr + hr + hr + hr + hr + hr + hr {top:239px;width:164px;right:0px;}
#header .home.container .decorations hr + img{top:168px;right:237px;}
#header .home.container .decorations hr + img + img{top:-23px;left:227px;}
#header .home.container .decorations hr + img + img + img{top:234px;left:159px;}
#header .home.container .decorations hr + img + img + img + img{top:228px;right:170px;}

#header .home.container .decorations .triangle1{background-image:url(../img/home/blco_header.png);position:absolute;top:-36px;right:114px;background-repeat:no-repeat;background-position-y:-11px;width:223px;height:116px;}
#header .home.container .decorations .triangle2{background-image:url(../img/home/blco_header_abajo.png);background-repeat:no-repeat;position:absolute;left:99px;top:77px;width:224px;height:100px;}
#header .home.container .decorations .circle{position:absolute;border-radius:50%;width:4px;height:4px;background-color:white;}
#header .home.container .decorations .triangle2 + div{top:-19px;right:240px;}
#header .home.container .decorations .triangle2 + div + div{top:74px;right:114px;}
#header .home.container .decorations .triangle2 + div + div + div{top:76px;left:106px;}
#header .home.container .decorations .triangle2 + div + div + div + div{top:171px;left:236px;}

#header > .decorations hr{position:absolute;height:1px;}
#header > .decorations hr:first-child{top:137px;width:50%;left:-460px;}
#header > .decorations hr:first-child + hr{top:393px;width:50%;left:-460px;}
#header > .decorations hr:first-child + hr + hr{top:327px;width:50%;left:50%;margin-left:460px;}
#header > .decorations hr:first-child + hr + hr + hr{top:393px;width:50%;left:50%;margin-left:460px;}

/* Perfil */
#header .perfil{height:169px;}
#header .perfil .general-search .button-frame{margin:30px 25px 0 258px;}
#header .perfil .general-search .adv-search{margin:15px 0 0 3px}

#content .perfil{background-color:rgba(255,255,255,.5);margin:44px auto;}
#content .perfil .head{background-image:url(../img/home/texture_blue.png);height:108px;color:white;}
#content .perfil .head h1.main-name{float:left;line-height:110px;font-size:30px;margin-left:7px;width:490px;overflow:hidden;height:110px;}
#content .perfil .ranking{float:left;color:white;font-size:12px;background-color:rgba(255,255,255,.5);height:82px;padding:13px 15px;width:84px;background-image:url(../img/perfil/posicion.png);background-repeat:no-repeat;background-position:17px 27px}
#content .perfil .ranking h1{margin-left:37px;font-size:26px;line-height:47px;}
#content .perfil .ranking p{line-height:14px;}
#content .perfil .nivel{text-align:center;float:left;padding:18px 9px 0;height:89px;}
#content .perfil .nivel .bubble{width:68px;height:68px;background-color:white;border-radius:50%;background-position:center center;background-repeat:no-repeat;}
#content .perfil .nivel.Reprobado .bubble{background-image:url(../img/perfil/reprobado_big.png);}
#content .perfil .nivel.Elemental .bubble{background-image:url(../img/perfil/elemental_big.png);}
#content .perfil .nivel.Excelente .bubble{background-image:url(../img/perfil/excelente_big.png);}
#content .perfil .nivel.Bien .bubble{background-image:url(../img/perfil/bien_big.png);}
#content .perfil .semaforo{color:#A8A8A8;float:right;background-color:white;text-align:center;width:181px;height:84px;padding:12px 11px;}
#content .perfil .semaforo h2{font-size:17px;line-height:23px;}
#content .perfil .semaforo h3.nivel{color:#A8A8A8;display:block;float:left;background-position:center top;background-repeat:no-repeat;font-size:8px;text-align:center;width:44px;padding:38px 0 0 ;line-height:10px;margin-top:6px;}
#content .perfil .semaforo h3.nivel.reprobado{background-image:url(../img/perfil/semaforo_reprobado.png);}
#content .perfil .semaforo h3.nivel.elemental{background-image:url(../img/perfil/semaforo_elemental.png);}
#content .perfil .semaforo h3.nivel.bien{background-image:url(../img/perfil/semaforo_bien.png);}
#content .perfil .semaforo h3.nivel.excelente{background-image:url(../img/perfil/semaforo_excelente.png);}
#content .perfil .info{float:left;width:387px;height:253px;color:white;background:#329DD1;padding:16px 17px;margin:16px 0 0 22px;}
#content .perfil .info h1{line-height:22px;}
#content .perfil .info h2{line-height:29px;}
#content .perfil .info hr{background:white;width:371px;height:3px;margin-bottom:6px;}
#content .perfil .info p{font-size:14px;line-height:21px;}
#content .perfil .info .icon{background-repeat:no-repeat;padding-left:36px;min-height:29px;}
#content .perfil .info .icon.dom{background-image:url(../img/perfil/direccion.png);background-position:0 5px;}
#content .perfil .info .icon.fon{background-image:url(../img/perfil/telefono.png);background-position:8px 0;}
#content .perfil .info .icon.email{background-image:url(../img/perfil/correo.png);background-position:4px 5px;}
#content .perfil .info .website{margin-top:7px;}
#content .perfil .map{width:423px;height:285px;float:left;margin:16px 0 0 11px;}
#content .perfil .tabs{margin:0px 22px;clear:both;}
#content .perfil .tabs li{float:right;display:block;margin:18px 0 0 -16px;background-image:url(../img/perfil/tabs.png);height:38px;width:184px;background-position:-186px 0;}
#content .perfil .tabs li:nth-child(0){margin:18px 0 0 0;}
#content .perfil .tabs li.on{background-position:0 0;}
#content .perfil .tabs li a{display:block;width:135px;font-size:12px;text-align:center;color:#494949;height:32px;line-height:32px;padding:5px 10px 0 25px;}
#content .perfil .tabs li a.long{line-height:14px;height:28px;padding:10px 27px 0;width:133px;}
#content .perfil .tab-container{margin:0 22px;color:#8D8D8D;padding:35px 19px 14px;width:817px;height:252px;overflow:auto;background:white;clear:both;background:#F5F5F5;}
#content .perfil .tab{color:#8D8D8D;width:816px;height:252px;overflow:auto;clear:both;}
#content .perfil .tab .comment{width:374px;height:60px;float:left;background:#EAEAEA;margin:0 12px 6px 0;padding:9px;overflow:hidden;}
#content .perfil .tab .comment:nth-child(even){margin:0 9px 6px 0}
#content .perfil .tab .comment h2{font-size:13px;color:#626262;line-height:18px;margin:0 0 0 5px;}
#content .perfil .tab .comment p{margin:0 5px;line-height:13px;}
#content .perfil .tab .comment .rating{display:block;float:right;width:82px;height:78px;color:white;background:#329DD1;font-size:14px;text-align:center;margin:0;position:relative;line-height:36px;top:-9px;left:13px;}
#content .perfil .tab .comment .rating .likes{background:#135798;font-size:10px;height:43px;position:absolute;width:46px;bottom:0;left:0;text-align:left;padding:0 16px;line-height:45px;z-index:0;}
#content .perfil .tab .comment .rating a{display:block;width:27px;height:23px;background-image:url(../img/perfil/like.png);margin:8px 0 0 43px;z-index:1;position:relative;}
#content .perfil .gray-box{background-color:rgba(0,0,0,.2);margin:11px 22px 17px;padding:4px 60px 7px;}
#content .perfil .gray-box p{color:#717171;line-height:23px;}
#content .perfil .gray-box .column{float:left;width:368px;height:109px;}


#content input[type='text'],#content textarea{background:white;border:none;width:337px;padding:6px 12px;font-family:Varela Round;margin:0 20px 5px 0;font-size:12px;color:#686868;line-height:17px;}
#content textarea{height:23px}
#content input[type='submit']{color:white;background:#329DD1;font-size:18px;width:356px;text-align:center;height:46px;border:none;font-family:Varela Round;margin:0 auto 0;display:block;}
#content select option{border:none;}
#content select option{border:none;padding:2px 7px;color:#686868;}
#content .customSelect {padding:5px 7px;width:347px;background:white url(../img/home/customselect.png) no-repeat center right;margin:0 20px 5px 0;line-height:18px;color:#686868;}
#content label.error{display:none!important;}
#content textarea.error,#content input.error{background-color:#ee8888;}
#content .perfil .rater{background-color:#E4E4E4;color:#686868;display:block;padding:15px 14px 21px;width:333px;position:relative;}
#content .perfil .rater .ranker{width:338px;border-radius:18px;height:10px;box-shadow:inset 1px 1px 2px #000,1px 1px 0 white;background-color:#61646B;position:relative;display:block;overflow:hidden;margin:-1px 0 0;}
#content .perfil .rater .ranker .bar{position:absolute;width:200px;box-shadow:inset 1px 1px 2px #000;display:block;height:10px;border-radius:0 5px 5px 0;background-color:#48A7D5;background-image:linear-gradient(top,#65B4DB 50%,#2F91C0);background-image:-moz-linear-gradient(top,#65B4DB 50%,#2F91C0);background-image:-webkit-linear-gradient(top,#65B4DB 50%,#2F91C0);background-image:-o-linear-gradient(top,#65B4DB 50%,#2F91C0);background-image:-ms-linear-gradient(top,#65B4DB 50%,#2F91C0);display:none;}
#content .perfil .rater .label{color:#DEDEE0;background-color:#50535A;display:block;padding:7px 11px;border-radius:5px;text-shadow:1px 1px 2 black;font-size:15px;line-height:10px;box-shadow:1px 1px 2px black;background-image:-moz-linear-gradient(top,#575A61,#494A4F);position:absolute;top:1px;left:184px;display:none;}
#content .perfil .rater .label:after{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #50535A;content:'';position:absolute;bottom:-7px;left:50%;margin-left:-7px;}