@import url('reset.css');
@import url('stickyFooter.css');

body{font-family:Varela Round, Arial;background:#C7CBCC url(../img/home/texture.jpg);}
a{text-decoration:none;}

.container{width:920px;margin:0 auto;}
.hidden{display:none;}
.clear{clear:both;}

#header{width:100%;margin-bottom:10px;background:url(../img/home/img_fondo.jpg) center top #E9EEF4;color:white;box-shadow:0 -10px 20px rgba(0,0,0,0.45) inset;}
#header h1{text-align:center;font-size:39px;line-height:40px;}
#header h2{text-align:center;font-size:13px;line-height:27px;}
#header h3{text-align:center;font-size:14px;line-height:25px;}
#header hr{display:block;border:none;height:2px;background:white;}
#header a{color:white;}
#header .menu{background-color:rgba(255,255,255,0.3);box-shadow:0 0 10px black;height:113px;overflow:hidden;}
#header .menu a{display:block;float:left;text-align:center;color:white;text-shadow:1px 1px 2px #999;font-size:17px;padding:60px 19px;background-position:center 31px;background-repeat:no-repeat;height:30px;}
#header .menu a[href='/blog']{background-image:url(../img/home/blog.png);}
#header .menu a[href='/comparador']{background-image:url(../img/home/comparador.png);}
#header .menu a[href='/denuncia']{background-image:url(../img/home/denuncia.png);}
#header .menu a[href='/voluntarios']{background-image:url(../img/home/voluntarios.png);}
#header .menu a[href='/webinars']{background-image:url(../img/home/webinars.png);}
#header .menu a[href='/contacto']{background-image:url(../img/home/contacto.png);}

#header .menu.blog a[href='/blog']{background-color:rgba(0,0,0,.12)}
#header .menu.comparador a[href='/comparador']{background-color:rgba(0,0,0,.12)}
#header .menu.denuncia a[href='/denuncia']{background-color:rgba(0,0,0,.12)}
#header .menu.volunatior a[href='/voluntarios']{background-color:rgba(0,0,0,.12)}
#header .menu.webinars a[href='/webinars']{background-color:rgba(0,0,0,.12)}
#header .menu.contacto a[href='/contacto']{background-color:rgba(0,0,0,.12)}

#header .menu a:hover{background-color:rgba(0,0,0,.12);}
#header .menu a.logo{width:auto;margin:8px 13px 0 9px;padding:0;}
#header .menu a.logo:hover{background-color:transparent;}
#header .social{float:right;margin:18px 4px;}
#header .social a{float:left;display: block;width:23px;height:23px;background:url(../img/home/face.png);margin:0 3.5px;}
#header .social a.twitter{background:url(../img/home/twitter.png)}
#header .button-frame{display:block;background-color:rgba(255,255,255,0.3);color:white;border:1px solid white;font-size:15px;margin:0 auto;width:239px;border-radius:7px;}
#header .button{background:#0BA14A;margin:8px 9px;border-radius:7px;display:block;padding:0 37px;box-shadow:inset -1px -1px 2px #555,inset 1px 1px 2px #aaa;position: relative;font-size:17px;line-height:41px;text-align:center;}
#header .button:before{content:'';display:block;background-color:#24AB5F;height:1px;box-shadow:0 1px 2px #0BA14A;width:27px;top:20px;left:8px;position:absolute;}
#header .button:after{content:'';display:block;background-color:#24AB5F;height:1px;box-shadow:0 1px 2px #0BA14A;width:27px;top:20px;right:8px;position:absolute;}

#header .general-search{text-align:center;font-size:12px;}
#header .general-search input[type='text']{font-size:14px;font-family:Varela Round;background-color:#F1E1E1;border-radius:3px;padding:9px 11px;line-height:24px;border:none;margin:8px auto;width:199px;color:#858482;}
#header .general-search fieldset[name='busqueda-avanzada']{display:none;}
#header .general-search .adv-search{font-size:10px;padding:6px 0 9px;}
#header .titles{margin:48px auto 18px;width:444px;}
#header .general-search{margin:30px auto 20px;}

#content{color:#474747;padding:0 0 229px;}
#content .container{width:900px;margin:25px auto;}
#content a{color:#EC018E;}
#content p{line-height:16px;}
#content h1{color:white;font-size:22px}
#content h2{font-size:18px;line-height:24px;}
#content h3{color:white;font-size:14px;line-height:17px;}
#content h3 a{color:white;}
#content hr{background-color:rgba(179, 48, 126,.6);height:5px;border:none;margin-bottom:8px;background-image:url(../img/home/texture_pink.png);}
#content .column{float:left;width:595px;}
#content .column.right{width:290px;margin-left:15px;}

#content .column .column{float:left;width:290px;margin:11px 0;}
#content .column .column:nth-child(2){margin-left:15px;}
#content .cap{display:block;background-color:rgba(11, 161, 74,.6);padding:0px 27px;line-height:49px;background-image:url(../img/home/texture_green.png);height:49px;}
#content .cap img{margin:8px 4px 0 0;display:block;float:left;}
#content .cap.blue{background-color:rgba(49, 101, 159,.6);background-image:url(../img/home/texture_blue.png);}
#content .cap.voluntarios{padding:0 16px;margin-top:1px;}
#content .gray-box{background-color:rgba(0,0,0,.5);color:#959595;padding:15px 24px 22px;margin:0 0 15px;}
#content .gray-box h1{font-size:18px;line-height:33px;}
#content .gray-box h2{color:white;font-size:14px;line-height:19px;}
#content .gray-box p{line-height:15px;}
#content .white-box{background-color:rgba(255,255,255,.3);color:#636363;padding:14px 16px 15px;}
#content .white-box.column{width:258px;}
#content .white-box a{color:#373938;}
#content .white-box h2{color:#EFA54C;line-height:21px;}
#content .white-box hr{background:#EFA54C;height:3px;}
#content .white-box p{line-height:14px;}

#content .white-box.voluntarios{overflow:hidden;position:relative;height:97px;padding:0;}
#content .white-box.voluntarios .reel{width:1000px;position:absolute;}
#content .white-box.voluntarios .voluntario{float:left;font-size:11px;width:230px;}
#content .white-box.voluntarios .voluntario img{width:70px;height:70px;border:5px solid white;border-radius:50%;float:left;margin:9px 3px 0 0;}
#content .white-box.voluntarios .voluntario h2{color:#565857;font-size:14px;margin-top:19px;}
#content .white-box.voluntarios .voluntario p{line-height:10px;font-size:10px;}

#content .right .gray-box{padding:15px 21px 32px;margin:0 0 5px;}
#content .right .gray-box p{line-height:16px;text-align:justify;}

#content .column .banner{display:block;background-image:url(../img/home/texture_pink.png);text-align:center;color:white;font-size:25px;position:relative;margin:3px 0 6px;padding:23px 49px 22px 100px;line-height:28px;}
#content .column .banner img{position:absolute;top:24px;left:50px;}
#content .column .banner.orange{background-image:url(../img/home/texture_orange.png);}
#content .column .banner.green{background-image:url(../img/home/texture_green.png);}


#content a.gray-box{display:block;padding:0!important;line-height:51px;font-size:15px;color:white;height:51px;}
#content a.gray-box img{float:left;margin:0 11px 0 0;}
#content .twitcap{background:#43B6F5;padding:10px 16px 5px;}
#content .tweets{padding:1px 13px 13px!important;}
#content .tweets hr{height:2px;background:#767676;}
#content .tweets .tweet{color:white;margin:10px 0 6px;}
#content .tweets .tweet img{float:left;border-radius:50%;width:50px;height:50px;color:white;margin:0 5px 0 0;}
#content .tweets .tweet a{color:white;font-weight:bold;}
#content .tweets .tweet p{line-height:14px;}
#content .tweets .tweet .user{font-size:13px;}

#footer{background-image:url(../img/home/texture-footer.jpg);border-top:3px solid #5E5E5E;text-align:center;color:#898989;position:relative;}
#footer .img{margin:0 auto;width:228px;}
#footer .img a{display:block;float:left;margin:16px 9px 0;}
#footer .img a + a{margin:11px 6px 0;}
#footer a{color:#898989;font-size:13px;margin:0 17px;}
#footer .sole{background-color:#5C5C5C;font-size:10px;line-height:33px;position:absolute;bottom:0;width:100%;}
#footer .sole a{font-size:10px;margin:0;}

/*
#header .home hr:first-child{position:absolute;top:136px;width:31.6%;left:0px;height:1px}
#header .home img {position:absolute;left:31.6%;top:130px}
#header .home img + hr{position:absolute;top:136px;width:35%;left:32.7%;height:1px}
#header .home .triangle1{position:absolute;top:137px;right:23.6%;border:54px solid rgba(255,255,255,.5);border-top-color:transparent;border-right-color:transparent}
#header .home a + hr{position:absolute;top:326px;width:32.4%;right:0px;height:1px}
#header .home a + hr + img{top:322px;left:66.9%}
#header .home a + hr + img + hr{top:326px;width:34%}
#header .home a + hr + img + hr + hr{position:absolute;top:395px;width:26%;left:0px;height:1px}
#header .home a + hr + img + hr + hr + img{top:389px;left:26%}
#header .home a + hr + img + hr + hr + img + hr{top:395px;left:27.2%;width:12%}
#header .home a + hr + img + hr + hr + img + hr + hr{position:absolute;top:395px;right:0px;width:27%;height:1px}
#header .home a + hr + img + hr + hr + img + hr + hr + img{top:389px;left:71.8%}
#header .home a + hr + img + hr + hr + img + hr + hr + img + hr {top:395px;left:60%;width:11.7%}
*/