@import url('reset.css');
@import url('stickyFooter.css');

body{font-family:Varela Round, Arial;background:#C7CBCC url(../img/home/texture.jpg);}
a{text-decoration:none;}

.container{width:920px;margin:0 auto;}
.hidden{display:none;}
.clear{clear:both;}

#header{width:100%;margin-bottom:10px;background:url(../img/home/img_fondo.jpg) center top #E9EEF4;color:white;box-shadow:0 -10px 20px rgba(0,0,0,0.45) inset;}
#header h1{text-align:center;font-size:41px;line-height:40px;}
#header h2{text-align:center;font-size:13px;line-height:27px;}
#header h3{text-align:center;font-size:14px;line-height:25px;}
#header hr{display:block;border:none;height:2px;background:white;}
#header a{color:white;}
#header .menu{background-color:rgba(255,255,255,0.3);box-shadow:0 0 10px black;height:113px;overflow:hidden;}
#header .menu a{display:block;float:left;text-align:center;color:white;text-shadow:1px 1px 2px #999;font-size:17px;padding:60px 19px;background-position:center 31px;background-repeat:no-repeat;height:30px;}
#header .menu a[href='/blog']{background-image:url(../img/home/blog.png);}
#header .menu a[href='/comparador']{background-image:url(../img/home/comparador.png);}
#header .menu a[href='/denuncia']{background-image:url(../img/home/denuncia.png);}
#header .menu a[href='/voluntarios']{background-image:url(../img/home/voluntarios.png);}
#header .menu a[href='/webinars']{background-image:url(../img/home/webinars.png);}
#header .menu a[href='/contacto']{background-image:url(../img/home/contacto.png);}
#header .menu a:hover{background-color:rgba(0,0,0,.12);}
#header .menu a.logo{width:auto;margin:8px 13px 0 9px;padding:0;}
#header .menu a.logo:hover{background-color:transparent;}
#header .social{float:right;margin:18px 4px;}
#header .social a{float:left;display: block;width:23px;height:23px;background:url(../img/home/face.png);margin:0 3.5px;}
#header .social a.twitter{background:url(../img/home/twitter.png)}
#header .button-frame{display:block;background-color:rgba(255,255,255,0.3);color:white;border:1px solid white;font-size:15px;margin:0 auto;width:239px;border-radius:7px;}
#header .button{background:#0BA14A;margin:8px 9px;border-radius:7px;display:block;padding:0 37px;box-shadow:inset -1px -1px 2px #555,inset 1px 1px 2px #aaa;position: relative;font-size:17px;line-height:41px;text-align:center;}
#header .button:before{content:'';display:block;background-color:#24AB5F;height:1px;box-shadow:0 1px 2px #0BA14A;width:27px;top:20px;left:8px;position:absolute;}
#header .button:after{content:'';display:block;background-color:#24AB5F;height:1px;box-shadow:0 1px 2px #0BA14A;width:27px;top:20px;right:8px;position:absolute;}

#header .general-search{text-align:center;font-size:12px;}
#header .general-search input[type='text']{font-size:14px;font-family:Varela Round;background-color:#F1E1E1;border-radius:3px;padding:9px 11px;line-height:24px;border:none;margin:8px auto;width:199px;color:#858482;}
#header .general-search fieldset[name='busqueda-avanzada']{display:none;}
#header .general-search .adv-search{font-size:10px;padding:6px 0 9px;}
#header .home .titles{margin:48px auto 18px;width:444px;}
#header .home .general-search{margin:30px auto 20px;}

#content{color:#474747;}
#content .container{width:900px;margin:25px auto;}
#content a{color:#EC018E;}
#content p{line-height:16px;}
#content h1{color:white;font-size:22px}
#content h2{font-size:18px;line-height:24px;}
#content h3{color:white;font-size:14px;line-height:17px;}
#content h3 a{color:white;}
#content hr{background-color:rgba(179, 48, 126,.6);height:5px;border:none;margin-bottom:8px;background-image:url(../img/home/texture_pink.png);}
#content .column{float:left;width:595px;}
#content .column.right{width:290px;margin-left:15px;}
#content .column .column{float:left;width:290px;margin:11px 0;}
#content .column .column:nth-child(2){margin-left:15px;}
#content .cap{display:block;background-color:rgba(11, 161, 74,.6);padding:0px 20px;line-height:49px;background-image:url(../img/home/texture_green.png);height:49px;}
#content .cap img{margin:5px 0;display:block;float:left;}
#content .cap.blue{background-color:rgba(49, 101, 159,.6);background-image:url(../img/home/texture_blue.png);}
#content .gray-box{background-color:rgba(0,0,0,.5);color:#959595;padding:15px 24px 22px;margin:0 0 15px;}
#content .gray-box h2{color:white;font-size:14px;line-height:19px;}
#content .gray-box p{line-height:15px;}
#content .white-box{background-color:rgba(255,255,255,.3);color:#636363;padding:14px 16px 22px;}
#content .white-box.column{width:258px;}
#content .white-box a{color:#373938;}
#content .white-box h2{color:#EFA54C;line-height:21px;}
#content .white-box hr{background-color:#EFA54C;height:3px;}
#content .white-box p{line-height:17px;}

#content .white-box.voluntarios{overflow:hidden;position:relative;height:81px;}
#content .white-box.voluntarios .reel{width:1000px;position:absolute;}
#content .white-box.voluntarios .voluntario{float:left;font-size:11px;width:225px;}
#content .white-box.voluntarios .voluntario img{width:72px;height:72px;border:5px solid white;border-radius:50%;float:left;margin:5px 3px 0 0;}
#content .white-box.voluntarios .voluntario h2{color:#565857;font-size:14px;}

#content .column .banner{display:block;background-image:url(../img/home/texture_pink.png);text-align:center;color:white;font-size:25px;position:relative;margin:3px 0;padding:27px 50px 27px 100px;line-height:31px;}
#content .column .banner img{position:absolute;top:23px;left:47px;}
#content .column .banner.orange{background-image:url(../img/home/texture_orange.png);}
#content .column .banner.green{background-image:url(../img/home/texture_green.png);}

#content a.gray-box{display:block;padding:0;line-height:51px;font-size:14px;color:white;height:51px;}
#content a.gray-box img{float:left;margin:0 20px 0 0;}
#content .twitcap{background:#43B6F5;padding:10px 4px;}
#content .tweets hr{height:2px;background:#767676;}
#content .tweet{color:white;margin:10px 0;}
#content .tweet img{float:left;border-radius:50%;width:50px;height:50px;color:white;margin:0 5px 0 0;}
#content .tweet a{color:white;font-weight:bold;}
#content .tweet .user{font-size:14px;}

#footer{background-image:url(../img/home/texture-footer.jpg);border-top:3px solid #5E5E5E;}