@import url('reset.css');

body{font-family:Varela Round, Arial;}
a{text-decoration:none;}

.container{width:920px;margin:0 auto;}
.hidden{display:none;}
.clear{clear:both;}

#header{width:100%;margin-bottom:10px;background:url(../img/img_fondo.jpg) center top #E9EEF4;height:600px;color:white;}
#header h1{text-align:center;font-size:32px;line-height:44px;}
#header h2{text-align:center;font-size:18px;line-height:25px;}
#header h3{text-align:center;font-size:14px;line-height:25px;}
#header hr{display:block;border:none;height:2px;background:white;}
#header .menu{background-color:rgba(255,255,255,0.3);box-shadow:0 0 10px black;height:113px;overflow:hidden;}
#header .menu a{display:block;float:left;text-align:center;color:white;text-shadow:1px 1px 2px #999;font-size:17px;padding:60px 19px;background-position:center 31px;background-repeat:no-repeat;height:30px;}
#header .menu a[href='/blog']{background-image:url(../img/blog.png);}
#header .menu a[href='/comparador']{background-image:url(../img/comparador.png);}
#header .menu a[href='/denuncia']{background-image:url(../img/denuncia.png);}
#header .menu a[href='/voluntarios']{background-image:url(../img/voluntarios.png);}
#header .menu a[href='/webinars']{background-image:url(../img/webinars.png);}
#header .menu a[href='/contacto']{background-image:url(../img/contacto.png);}
#header .menu a:hover{box-shadow:inset 0 0 45px #aaa;}
#header .menu a.logo{width:auto;margin:8px 13px 0 0;padding:0;}
#header .menu a.logo:hover{box-shadow:none;}
#header .social{float:right;margin:10px 20px;}
#header .social a{float:left;display: block;width:23px;height:23px;background:url(../img/face.png);margin:0 4px;}
#header .social a.twitter{background:url(../img/twitter.png)}
#header .button{display:block;background-color:rgba(255,255,255,0.3);color:white;border:1px solid white;font-size:15px;line-height:44px;margin:0 auto;width:213px;border-radius:3px;}
#header .button span{background:#0BA14A;margin:8px 9px;border-radius:4px;display:block;padding:0 37px;box-shadow:inset -1px -1px 2px #555,inset 1px 1px 2px #aaa;position: relative;}
#header .button span:before{content:'';display:block;background-color:#24AB5F;height:1px;box-shadow:0 1px 2px #0BA14A;width:33px;top:22px;left:2px;position:absolute;}
#header .button span:after{content:'';display:block;background-color:#24AB5F;height:1px;box-shadow:0 1px 2px #0BA14A;width:33px;top:22px;right:2px;position:absolute;}


#header .home .titles{margin:30px auto;width:437px;}
