@import url('reset.css');

body{font-family:'Varela Round',Arial, Helvetica, sans-serif;background:#252525;color:#646665;}
a{text-decoration:none;color:#359B37;}
.hidden{display:none;}
.clear{clear:both;}

#container{border:3px solid #8A8A8A;max-width:261px;margin:0 auto;background-image:url(../img/widget/fondogris.jpg);background-color:#CACCCB;position:relative;}
#container .head{width:100%;height:110px;background-image:url(../img/widget/fondoblur.jpg);background-position:center center;position:relative;}
#container .head .logo{display:block;background-color:rgba(255,255,255,.6);height:66px;}
#container .head .logo span{width:100%;max-width:150px;margin:0 auto;display:block;}
#container .head .logo span img{width:100%;margin-top:5px;}
#container .head .logo:after{content:'';position:absolute;top:65px;left:50%;margin-left:-131.5px;width:263px;height:19px;background-image:url(../img/widget/sombra.png);}
#container h1{font-size:15px;color:white;line-height:16px;text-align:center;text-shadow:1px 1px 2px #333;margin-top:13px;padding:0 5px;}
#container h3{font-size:12px;color:#343434;line-height:12px;padding:0 5px;}
#container p.text{text-align:justify;font-size:13px;padding:13px 11px 10px;line-height:15px;}

#container form{background-color:rgba(255,255,255,.2);width:85%;border-radius:5px;border:1px solid white;padding:8px 6px;margin:0 auto 11px;position:relative;}
#container form input[type='text']{border:none;background-color:#F1F1F1;font-family:Varela Round,Arial;padding:14px 12px 10px;line-height:14px;font-size:14px;border-radius:5px;width:88%;margin:0 auto;}
#container form input[type='submit']{width:31px;height:33px;background-image:url(../img/widget/buscar.png);border:none;background-color:transparent;position:absolute;top:12px;right:15px;}
